<%inherit file="base.htm" />

<%block name="title">
  New Recipe - Step 2 | My Cookbook
</%block>

<%block name="bannerArea">

</%block>

<%block name="mainContent">
<div class="content container">
    <h1>Submit New Recipe - Step 2</h1>

    <h4>Recipe Name: ${ recipe_name }</h4>
    <h4>Total Cook Time: ${ cook_time }</h4>
    <h4>Source: ${ source }</h4>

    <form method="POST" action="/homepage/newRecipe.ingredients/">
      <table id="ing-table">
        <tr>
          %for field in addIngredientForm:
            %if field.name == 'measurement':
              <th class="form-label"><h4>${ field.label_tag() } <a href="#" data-toggle="modal" data-target="#helpModal"><span class="glyphicon glyphicon-question-sign"></span></a></h4>
              </th>
            %else:
              <th class="form-label"><h4>${ field.label_tag() }</h4></th>
            %endif
          %endfor
        </tr>
        %if ingredient_array:
          %for item in ingredient_array:
          <tr>
            <td><h5>${ item[0] }</h5></td>
            <td><h5>${ item[1] }</h5></td>
            <td><h5>${ item[2] }</h5></td>
          </tr>
          %endfor
        %endif
        <tr class="form-field-div">
          %for field in addIngredientForm:
            %if field.name == 'ingredient':
              <td><nobr>${ field } <input class="btn btn-primary" type="submit" value="Add" name="addIngredient"/></nobr></td>
            %else:
              <td>${ field }</td>
            %endif
          %endfor
        </tr>
    </table>
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create New Ingredient</button>
    <br><br><br>

    <a class="btn btn-info btn-lg" href="/homepage/newRecipe.directions/">Done Adding Ingredients</a>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create New Ingredient</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="/homepage/newRecipe.ingredients/">
              %for field in createIngredientForm:
                <div class="form-field-div">
                  <h4 class="form-label">${ field.label_tag() }</h4>
                  ${ field }
                </div>
              %endfor
              <input class="btn btn-primary" type="submit" value="Create" name="createIngredient"/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="helpModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Measurement Conversion</h4>
          </div>
          <div class="modal-body">
            <table id="measure-table">
              <tr>
                <th>Fraction</th>
                <th>Decimal</th>
              </tr>
              <tr>
                <td>1/8</td>
                <td>0.125</td>
              </tr>
              <tr>
                <td>1/4</td>
                <td>0.25</td>
              </tr>
              <tr>
                <td>1/3</td>
                <td>0.333</td>
              </tr>
              <tr>
                <td>3/8</td>
                <td>0.375</td>
              </tr>
              <tr>
                <td>1/2</td>
                <td>0.5</td>
              </tr>
              <tr>
                <td>5/8</td>
                <td>0.625</td>
              </tr>
              <tr>
                <td>2/3</td>
                <td>0.667</td>
              </tr>
              <tr>
                <td>3/4</td>
                <td>0.75</td>
              </tr>
              <tr>
                <td>7/8</td>
                <td>0.875</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
</%block>
